* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
$color: #27c7ab;
.main_width{
  width: 1050px;
  margin: 0 auto;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

// header
header{
  color:white;
  background-color: black;
  width: 100%;
  height:40px;
  line-height: 40px;
}
.header{
  a{
    text-decoration: none;
    color:white;
  }

  span{
    font-weight: bold;
    color: #1dc6b3;
  }
  .logo{
    display: inline;
    float: left;
    text-transform: uppercase;
    font-size: 12px;
  }

  nav ul {
    padding: 0;
    list-style: none;
    width: 100%;

    li {
      float:right;
      display: inline-block;
      position: relative;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;

      ul {
        display: none;
        position: absolute;
        width: 100px;
        li{
          cursor:pointer;
          font-weight: normal;
          left: -15px;
          padding: 2px 0 2px 10px;
          line-height: 20px;
          float: left;
          background-color: black;
          width:120px;
        }
      }
    }
  }
  nav>ul>li:nth-child(2){
    margin: 0 38px 0 38px;
  }
  nav>ul>li>ul>li:nth-child(1){
    padding: 0;
    background-color: inherit;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid black;
    margin: 2px 0 0 40px;
  }
  nav>ul>li>ul>li:nth-child(2){
    padding-top: 10px;
  }
  nav>ul>li>ul>li:last-child{
    padding-bottom: 10px;
  }
}


// section sliders
.sliders{
  width:100%;
  height:500px;
  background: rgba(254,254,254,1);
  background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(208,207,215,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(208,207,215,1)));
  background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(208,207,215,1) 100%);
  background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(208,207,215,1) 100%);
  background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(208,207,215,1) 100%);
  background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(208,207,215,1) 100%);
}
.slider {
  float: left;
  display: inline-block;
  width: 50%;
}
.slider ul
{
    list-style: none;
    width:400px;
    height:300px;
}

.slider li
{
    display: none;
}

.slider .visible
{
    display: inline-block;
}

#nextPicture {
  cursor: pointer;
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  color: #1ebe9a;
  float: right;
  position: relative;
  left: 0px;
  top: 280px;
}

#prevPicture {
  z-index:1;
  cursor: pointer;
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  color: #1ebe9a;
  position: relative;
  right: 0px;
  top: 280px;
}

.slider > li > img {
  width: 470px;
  height: 337px;
  object-fit: contain;
  position: relative;
  top: 100px;
}
.content{
  display: inline-block;
  margin-top: 150px;
  float:left;
  width:40%;
  h1{
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
  }
  p{
    text-align: center;
    font-size: 12px;
    margin-bottom: 35px;
  }

  .click_button
  {
    cursor:pointer;
    margin-left: 67px;
    color: white;
    font-size: 18px;
    box-sizing: border-box;
    width: 265px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #24ba9f;
  }
}
// section offer
.offer{
  width:100%;
  height:350px;
}
.layout{
  margin-top: 25px;
.box1{
  background-image: url("../images/box1_img.jpg");
  border: 1px solid lightgrey;
  display: inline-block;
  float: left;
  width:330px;
  height:225px;
}
.box2{
  background-image: url("../images/box2_img.jpg");
  margin-left: 25px;
  border: 1px solid lightgrey;
  display: inline-block;
  float:left;
  width:330px;
  height:225px;
}
.box_content{
  border: 1px solid lightgrey;
  display: inline-block;
  float: right;
  width:340px;
  height:255px;
}
}

.description{
  width:100%;
  height:60px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 150px;
  line-height: 60px;
}
.description_content{
  color:black;
  font-size: 12px;
  font-weight: bold;
  margin-left: 18px;
  .belt{
    margin-top: -23px;
    width:135px;
    height:5px;
    background-color: #26c6aa;
  }
}
.box_content{
  .description_content{
    margin-top: 30px;
    .belt{
      margin: 0 0 15px 0;
    }
    p{
      font-size: 12px;
      font-weight: normal;
}
p:last-child{
  margin-top: 30px;
}
  }
}
// section pricelist
.price_list{
  background-color: #f1f1f1;
  height: 725px;
  width: 100%;
}
.section_logo{
  position: absolute;
  margin-top: 45px;
  display: inline-block;
  p{
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .belt{
    width:320px;
    height:5px;
    background-color: #26c6aa;
  }
}

.bookmark
{
    position: relative;
    float: left;
    margin-top:155px;
    width: 327px;
    height: 500px;
    margin-bottom: 50px;
    background-color: #f9f9f9;
    border: 1px solid #c2c2c2;
.circle
{
    position: absolute;
    top: -37.5px;
    left: 50%;


    width: 54px;
    height: 54px;
    margin-left: -27px;

    border: 1px solid #c2c2c2;
    border-radius: 100%;
    background-color: white;
    .circle2
    {
      position: relative;
      top: 50%;
      left: 50%;


      width: 26px;
      height: 26px;
      margin-top: -13px;
      margin-left: -13px;

      border-radius: 100%;
      background-color: #c2c2c2;
    }
}
h1
{
  margin-top:30px;
  text-align: center;
  color:$color;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: normal;
}
.circle3{
  position: absolute;
  left: 50%;
  margin-top: 30px;
  width: 130px;
  height: 130px;
  margin-left: -65px;
  border: 1px solid #c2c2c2;
  border-radius: 100%;
  background-color: white;
  text-align: center;
  color:#c2c2c2;
  .circle3_text{
    margin-top: 35px;
  .unit{
    font-size: 30px;
    font-weight: 600;
    .rest{
      font-size: 10px;
    }
  }
}
}

.white_line{
  margin-top: 195px;
  height:3px;
  background-color: white;
  width: 100%;
}
.line{
  width:100%;
  height:40px;
  background-color: #e4e4e4;
  line-height: 40px;
  text-align: center;
  p{
    font-size: 20px;
    color: grey;
  }
}
.bg-color{
  background-color: #f1f1f1;
}
.button
{
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 120px;
    height: 32px;
    margin-left: -67.5px;
    border-radius: 5px;
    background-color: $color;
}
span
{
    line-height: 32px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    p
    {
      font-size: 12px;
      text-align: center;
    }
}
}

 .b-second{
   border:1px solid $color;
   margin-left: 34.5px;
   margin-right: 34.5px;
   background-color: $color;
   .circle{
     border: 1px solid $color;
     background-color: $color;
     .circle2{
       background-color: white;
     }
   }
   .circle3{
     color:$color;
     border:1px solid $color;
   }
   h1{
     color:white;
   }
.line{
  background-color: white;
}
.bg-color{
  background-color: #f1f1f1;
}
.button{
  background-color: white;
  p{
  color:$color;
}
}
 }
// section form
.form{
  width:100%;
  height:550px;
  .section_logo{
    position: absolute;
    margin-top: 30px;
  }
  .form-content{
    float: left;
    margin-top: 115px;
    width:685px;
      input{
        width:630px;
        height: 60px;
        font-size: 20px;
        border:1px solid $color;
        padding-left: 15px;
      }
    .margin_both{
      input{
      margin-top: 30px;
      margin-bottom: 30px;
    }
    }
    textarea{
      width:630px;
      height: 185px;
      font-size: 20px;
      border:1px solid $color;
      padding-left: 15px;
    }
  }
.sec_form_content{
width:365px;
margin-top: 85px;
float:left;
.input{
  margin-bottom: 40px;
  margin-top: 30px;
  border:1px solid $color;
  width:50px;
  height:50px;
  background-image: url('../images/form_ok.jpg');
  background-repeat: no-repeat;
  background-position: center;
  p{
    padding-top: 5px;
    padding-left: 55px;
    width:300px;
    font-size: 16px;
    color:grey;
  }
}
input{
  cursor: pointer;
  width:345px;
  height:65px;
  background-color: $color;
  border: 1px solid $color;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
}
}
// footer
footer{
  width:100%;
  height:100px;
  color: grey;
  .box1{
    float: left;
    width:420px;
    line-height: 100px;
    font-size: 16px;
  }
  .box2{
    float: left;
    margin-top: 30px;
    margin-left: 280px;
  }
  .box3{
    float: right;
    width: 150px;
    line-height: 100px;
    font-size: 20px;
    text-transform: uppercase;
  }
}
